/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@font-face {
    font-family: Regular;
    src: url(font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(font/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: Light;
    src: url(font/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: extra-Light;
    src: url(font/TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: semi-bold;
    src: url(font/TitilliumWeb-SemiBold.ttf);
}
/* FUENTE-CLASE */
.regular{
    font-family: "Regular";
}
.Bold{
    font-family: "Bold";
}
.light{
    font-family: "light";
}
.semi-bold{
    font-family: "semi-bold";
}
body{
    font-family: "Regular" ;
}
/* COLORES */
:root {
    --magenta: #7723EF;
    --cian: #13FFD4;
    --gris: #F6F6F6;
    --rojo: #FF265A;
    --azul: #323261;
    --amarillo: #FFC726;
    --negro: #333333;
    --azul-claro: #E9EDFF;
    --blanco: #ffffff;
}

/* COLOR TEXTO */

.txt-magenta {
    color: var(--magenta);
}

.txt-cian {
    color: var(--cian);
}

.txt-gris {
    color: var(--gris);
}

.txt-rojo {
    color: var(--rojo);
}

.txt-azul {
    color: var(--azul);
}

.txt-amarrillo {
    color: var(--negro);
}

.txt-azul-claro {
    color: var(--azul-claro);
}
.txt-blanco {
    color: var(--blanco);
}
.txt-negro {
    color: var(--negro);
}


/* BACKGROUND */
.btn{
    text-transform: none;
}

.bg-magenta {
    background-color: var(--magenta);
}

.bg-cian {
    background-color: var(--cian);
}

.bg-gris {
    background-color: var(--gris);
}

.bg-rojo {
    background-color: var(--rojo);
}

.bg-azul {
    background-color: var(--azul);
}

.bg-amarrillo {
    background-color: var(--negro);
}

.bg-azul-claro {
    background-color: var(--azul-claro);
}

.bg-negro {
    background-color: var(--negro);
}

/* SIZE TEXTO */
.font-36{
    font-size: 2.25rem;
}
.font-24{
    font-size: 1.5rem;
}
.font-20{
    font-size: 1.25rem;
}
.font-19{
    font-size: 1.188rem;
}
.font-18{
    font-size: 1.125rem;
}

.font-16{
    font-size: 1rem;
}
.font-14{
    font-size: 0.875rem;
}
.font-12{
    font-size: 0.75rem;
}
.lh-initial{
    line-height: initial;
}

/* Size image */
.w-10{
    width: 10%;
}



/* elementos */
.linea-roja{
top: 153px;
left: 165px;
width: 44px;
height: 5px;
background: var(--rojo) 0% 0% no-repeat padding-box;
opacity: 1;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
}
.fa-long-arrow-alt-right:before {
    content: "\f30b";
}

/* Cards */

.card-body:hover {
    background-color: var(--blanco);
    border-radius: 16px;
    box-shadow: 0px 5px 15px #0000000D;
}
.card-body a:hover {
    color: var(--rojo);
    text-decoration: underline;
}

h1 h2 h3 h4{
    font-family: 'Titillium Web', sans-serif;
}
hr.hrt{
    height: 5px ;
    width: 44px;
    color: #FF265A;
    opacity: 1
}

.border-radius-16{
    border-radius: 16px;
}

.sin-box-shadow{
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
