
#formulario p{
    padding: 1rem;
    margin-bottom: 0px;
}
#formulario input {
    width: 320px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    
}
#formulario  h4{
    margin-top: 16px;   
}
#formulario  button{
    margin-top: 35px;
    border-radius: 25px;
    width: 260px;
height: 48px;
}





